<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Spotify Playlists</title>
		<link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../static/css/font-awesome.css">
		<link rel="stylesheet" href="../static/css/foundation.css">
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<div id="header">
			<div id="header-top">
				<div class="row">
					<div class="small-12 medium-4 columns">
						<h3 id="logo"><a href="/">Spotify Playlists</a></h3>
					</div>
					<div class="hide-for-small-only medium-8 columns">
					</div>
				</div><!-- end row -->
			</div><!-- end header-top -->
			<div id="header-bottom">
				<div class="row">
					<div class="small-12 large-6 columns">
						<form id="search">
							<div id="search-field">
								<input type="search" placeholder="search playlists" />
								<input type="submit" id="search-submit" value="Search" />
							</div>
						</form>
					</div>
					<div class="small-12 large-6 columns">
						<div id="add-wrapper">
							<span class="or">or</span>
							<button id="add-playlist" class="button">Add a Playlist</button>						
						</div>
					</div>
				</div><!-- end row -->
			</div><!-- end header-bottom -->
		</div><!-- end header -->	
		<div id="wrapper">
			<section id="playlists">
				<div class="row">
					<div class="small-12 columns">
					</div>
				</div><!-- end row -->
				<div class="row">
					<div class="small-12 columns">
						<div id="add-playlist-uri">
							<input type="text" placeholder="Paste in your Spotify URI" />
							<input type="submit" class="button" value="Add Playlist" />
							<div class="row">
								<div class="small-12 medium-6 columns">
									<h4>To get your Spotify playlist URI:</h4>
									<ol>
										<li>Right-click your playlist on the left sidebar</li>
										<li>Click "Copy Spotify URI"</li>
										<li>Paste it in the field above</li>
									</ol>					
								</div>
								<div class="small-12 medium-6 columns">
									<img src="css/imgs/spotify-uri.png" />
								</div>
							</div><!-- end nested row -->
						</div>
					</div>
				</div><!-- end row -->
			</section>
		</div><!-- end wrapper -->
		<div id="footer">
			<div class="row">
				<div class="small-12 columns">
					<p>Spotify Playlists © 2016. All Rights Reserved.</p>
				</div>
			</div>
		</div><!-- end footer -->
		<script src="http://www.theresamonaco.com/playlists/js/vendor/jquery.js"></script>
		<script src="http://www.theresamonaco.com/playlists/js/vendor/jquery-sortable.js"></script>
		<script src="http://www.theresamonaco.com/playlists/js/vendor/what-input.js"></script>
		<script src="http://www.theresamonaco.com/playlists/js/vendor/foundation.min.js"></script>
		
		<script type="text/javascript">
		  var adjustment;
		  $("ul.sortable").sortable({
		  group: 'sortable',
		  pullPlaceholder: false,
		  // animation on drop
		  onDrop: function  ($item, container, _super) {
		    var $clonedItem = $('<li/>').css({height: 0});
		    $item.before($clonedItem);
		    $clonedItem.animate({'height': $item.height()});
		    $item.animate($clonedItem.position(), function  () {
		      $clonedItem.detach();
		      _super($item, container);
		    });
		  },
		  // set $item relative to cursor position
		  onDragStart: function ($item, container, _super) {
		    var offset = $item.offset(),
		        pointer = container.rootGroup.pointer;
		    adjustment = {
		      left: pointer.left - offset.left,
		      top: pointer.top - offset.top
		    };
		    _super($item, container);
		  },
		  onDrag: function ($item, position) {
		    $item.css({
		      left: position.left - adjustment.left,
		      top: position.top - adjustment.top
		    });
		  }
		  }); 
		</script>
		<script>
		   $(document).ready(function() {
		      $(document).foundation();
		   })
		</script>
	</body>
</html>