{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div id="wrapper">
        <section id="playlists">
            <div class="row">
                <div class="small-12 columns">
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="small-12 columns">
                    <div id="add-playlist-uri">
                        <form action="share" method="post">
                            {% csrf_token %}
                            <input type="text" name="uri" placeholder="Paste in your Spotify URI" />
                            <input type="submit" class="button" value="Add Playlist"/>
                        </form>
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <h4>To get your Spotify playlist URI:</h4>
                                <ol>
                                    <li>Right-click your playlist on the left sidebar</li>
                                    <li>Click "Copy Spotify URI"</li>
                                    <li>Paste it in the field above</li>
                                </ol>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <img src="{% static "imgs/spotify-uri.png" %}" />
                            </div>
                        </div><!-- end nested row -->
                    </div>
                </div>
            </div><!-- end row -->
        </section>
    </div><!-- end wrapper -->
{% endblock %}
