{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mixd</title>
		<link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
        <link rel="stylesheet" href="{% static "css/foundation.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <script src="{% static "js/vendor/jquery.js" %}"></script>
		<script src="{% static "js/vendor/what-input.js" %}"></script>
		<script src="{% static "js/vendor/foundation.min.js" %}"></script>
	</head>
	<body>
		<div id="header">
            <div id="header-top">
				<div class="row">
					<div class="small-12 medium-2 columns">
						<h3 id="logo"><a href="/"><img src="{% static "imgs/logo.png" %}"></a></h3>
					</div>
					<div class="hide-for-small-only medium-10 columns">
						<p>Find and Share Spotify Playlists</p>
					</div>
				</div><!-- end row -->
			</div>
			<div id="header-bottom">
				<div class="row">
					<div class="small-12 large-6 columns">
						<form id="search">
							<div id="search-field">
								<input type="search" placeholder="search playlists">
								<a href="" id="search-submit" class="button"><i class="fa fa-search" aria-hidden="true"></i>
                                </a>
							</div>
						</form>
					</div>
					<div class="small-12 large-6 columns">
						<div id="add-wrapper">
							<span class="or">or</span>
							<a id="add-playlist" href="/add" class="button">Add a Playlist &nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
						</div>
					</div>
				</div><!-- end row -->
			</div>
		</div><!-- end header -->
		{% block content %}{% endblock content %}
		<div id="footer">
			<div class="row">
				<div class="small-12 columns">
					<p>Mixd © 2016. All Rights Reserved.</p>
				</div>
			</div>
		</div><!-- end footer -->
		<script>
		   $(document).ready(function() {
		      $(document).foundation();
		   })
		</script>
	</body>
</html>
