{% extends "base.html" %}

{% block content %}
    <div id="wrapper">
        <section id="playlists">
            <div class="row">
                <div class="small-12 columns">
                    <h4>Top Playlists</h4>
                </div>
            </div><!-- end row -->
            <div id="index" class="row small-up-1 large-up-2">
                {% for playlist in playlists %}
                    <div class="column">
                        <div class="playlist">
                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="playlist-byline">
                                        <div class="user-avatar"></div>
                                        <div class="playlist-posted">Created by <span class="author">{{ playlist.owner.display_name }}</span></div>
                                    </div>
                                </div>
                            </div><!-- end row -->
                            <div class="row">
                                <div class="small-3 large-5 columns">
                                    <div class="album-cover">
                                        <img src="{{ playlist.images.0.url }}" />
                                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                                    </div><!-- end album-cover -->
                                </div>
                                <div class="small-9 large-7 columns">
                                    <h3><a href="playlist_detail?id={{ playlist.mixd_id }}">{{ playlist.name }}</a></h3>
                                    <div class="playlist-stats">
                                        <span class="playlist-tracks"><i class="fa fa-list" aria-hidden="true"></i>{{ playlist.tracks.total }}</span>
                                        <span class="num-follows"><i class="fa fa-plus" aria-hidden="true"></i>{{ playlist.followers.total }}</span>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="">Example Tag</a></li>
                                    </ul>
                                    <div class=""></div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end playlist -->
                    </div><!-- end column -->
                {% endfor %}
            </div><!-- end row -->
        </section>
    </div><!-- end wrapper -->
{% endblock %}

