{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div id="wrapper">
        <section id="add-playlist-wrapper">
            <div class="row">
                <div class="small-12 columns">
                </div>
            </div><!-- end row -->
            <div id="playlist-info" class="row">
                <div class="small-12 medium-3 columns">
                    <img src="{{ playlist.images.0.url }}" />
                </div>
                <div class="small-12 medium-9 columns">
                    <h2>{{ playlist.name }}</h2>
                    <div class="playlist-stats">
                        <span class="playlist-length"><i class="fa fa-clock-o" aria-hidden="true"></i>0:50</span>
                        <span class="playlist-tracks"><i class="fa fa-list" aria-hidden="true"></i>{{ playlist.tracks.total }}</span>
                        <span class="num-follows"><i class="fa fa-plus" aria-hidden="true"></i>{{ playlist.followers.total }}</span>
                    </div>
                    <h5>Add a Description</h5>
                    <textarea id="playlist-description"></textarea>
                </div><!-- end small-12 -->
            </div><!-- end row -->
            <div class="row">
                <div class="small-12 columns">
                    <h4>Tag Your Playlist</h4>
                </div>
            </div>
            <div id="drag-and-drop" class="row">
                <div class="small-12 medium-6 columns">
                     <ul id="tags-list" class="accordion" data-multi-expand="true" data-accordion role="tablist">
                        <li class="accordion-item is-active">
                            <a href="#collapse1" role="tab" class="accordion-title" id="collapse1-heading">Genre</a>
                            <div id="collapse1" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                <ul class="tags sortable">
                                    <li class="genre">Indie</li>
                                    <li class="genre">Rock</li>
                                    <li class="genre">Pop</li>
                                    <li class="genre">Classic Rock</li>
                                    <li class="genre">Classical</li>
                                    <li class="genre">Hip Hop</li>
                                    <li class="genre">Rap</li>
                                    <li class="genre">Coffee Shop</li>
                                    <li class="genre">House</li>
                                    <li class="genre">Techno</li>
                                </ul>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="#collapse2" role="tab" class="accordion-title" id="collapse2-heading">Mood</a>
                            <div id="collapse2" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                <ul class="tags sortable">
                                    <li class="mood">Chill</li>
                                    <li class="mood">Angry</li>
                                    <li class="mood">Happy</li>
                                    <li class="mood">Sad</li>
                                    <li class="mood">Lost</li>
                                </ul>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="#collapse3" role="tab" class="accordion-title" id="collapse3-heading">Setting</a>
                            <div id="collapse3" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                <ul class="tags sortable">
                                    <li class="setting">Party</li>
                                    <li class="setting">Celebration</li>
                                    <li class="setting">Baby Shower</li>
                                    <li class="setting">Wedding</li>
                                    <li class="setting">Shower</li>
                                </ul>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="#collapse3" role="tab" class="accordion-title" id="collapse3-heading">Other</a>
                            <div id="collapse3" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                <ul class="tags sortable">
                                    <li class="other">Shuffle</li>
                                    <li class="other">Listen in Order</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div><!-- end medium-6 -->
                <div class="small-12 medium-6 columns">
                    <h5>Drag Tags Here</h5>
                    <ul id="tag-drop-field" class="sortable">
                        {% for tag in tags.genre %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                        {% for tag in tags.mood %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="small-12 columns" style="text-align: center;">
                    <input type="submit" id="complete-playlist" class="button" value="Save & Complete Your Playlist">
                </div><!-- end small-12 -->
            </div><!-- end row -->
            <div id="playlist-wrapper" class="row">
                <div class="small-12 columns">
                    <h4>Your Playlist</h4>
                    <div class="playlistHeading">
                        <div>Song</div>
                        <div>Artist</div>
                        <div>Album</div>
{#                        <div>Duration</div>#}
                    </div>
                    <ol id="current-playlist">
                         {% for track in playlist.tracks.items %}
                            <li class="track">
                              <div class="song">{{ track.track.name }}</div>
                              <div class="artist">{{ track.track.artists.0.name }}</div>
                              <div class="album">{{ track.track.album.name }}</div>
{#                                  <div class="duration">{{ track.track.duration_ms}}</div>#}
                            </li>
                        {% endfor %}
                    </ol>
                </div><!-- end your playlist -->
            </div><!-- end row -->
        </section>
    </div><!-- end wrapper -->

    <script src="http://www.theresamonaco.com/playlists/js/vendor/jquery-sortable.js"></script>

    <script type="text/javascript">
      var adjustment;
      $("ul.sortable").sortable({
      group: 'sortable',
      pullPlaceholder: false,
      // animation on drop
      onDrop: function  ($item, container, _super) {
        var $clonedItem = $('<li/>').css({height: 0});
        $item.before($clonedItem);
        $clonedItem.animate({'height': $item.height()});
        $item.animate($clonedItem.position(), function  () {
          $clonedItem.detach();
          _super($item, container);
        });
      },
      // set $item relative to cursor position
      onDragStart: function ($item, container, _super) {
        var offset = $item.offset(),
            pointer = container.rootGroup.pointer;
        adjustment = {
          left: pointer.left - offset.left,
          top: pointer.top - offset.top
        };
        _super($item, container);
      },
      onDrag: function ($item, position) {
        $item.css({
          left: position.left - adjustment.left,
          top: position.top - adjustment.top
        });
      }
      });
    </script>
{% endblock %}
